body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family:"Courier New", Courier, monospace;
    background-color: #f5f3f0;
    padding: 5%;
}

.left-side {
    width: 35%;
}


.main-name{
    font-size: 2em;
    font-style: italic;
    text-align: right;
}

.display-pic{
    width: 70%;
    border-radius: 6%;
    float: right;
}

.right-side{
    width: 55%;
    background-color:#d1ede7;
    border-radius: 6%;
    position: relative;
    left: 30px;
    padding: 1%;
    line-height: 1.3;
}

.heading{
    font-style: italic;
    font-size: 1.4em;
}

.github, .resume, .linkedin {
    color: black;
    font-size: 2em;

}


@media only screen and (min-width: 300px) and (max-width: 800px) {
    .display-pic{
        width: 100%;
        float:center;
    }
    .main-name{
        font-size:1.5em;
        text-align: right;
    }
    .left-side {
        width: 100%;
    }
    .right-side{
        width: 100%;
        float: left;
        position: relative;
        top: 15px;
        left: 0px;
        padding: 3;
        border-radius: 5%;
    }
    .heading{
        font-size: 1.2em;
    }
}


}

